In [2]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#input data
data = {'Gender': ['Male', 'Male', 'Male', 'Female', 'Female','Female'],
        'HeightCM': [171, 161, 180, 166, 150, 167],
        'WeightKG':[96, 85, 77, 62, 70, 82]
        }

In [4]:
#create new data frame with pandas
df=pd.DataFrame(data)

In [5]:
#check data frame
df

   Gender  HeightCM  WeightKG
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [6]:
#change centimeters to meters in order to calculate BMI
df['HeightM'] = df['HeightCM']/100

In [8]:
#create height squared variable to calculate BMI
heightsq = df[('HeightM')]**2

In [9]:
#check variable functionality 
heightsq

0    2.9241
1    2.5921
2    3.2400
3    2.7556
4    2.2500
5    2.7889
Name: HeightM, dtype: float64

In [10]:
#calculate BMI
BMI = df['WeightKG']/heightsq

In [11]:
#check variable functionality 
BMI

0    32.830615
1    32.791945
2    23.765432
3    22.499637
4    31.111111
5    29.402273
dtype: float64

In [12]:
#cut decimal places to 1
BMI = BMI.round(1)

In [13]:
BMI

0    32.8
1    32.8
2    23.8
3    22.5
4    31.1
5    29.4
dtype: float64

In [14]:
#add BMI column to data frame
df['BMI'] = BMI

In [15]:
df

   Gender  HeightCM  WeightKG  HeightM   BMI
0    Male       171        96     1.71  32.8
1    Male       161        85     1.61  32.8
2    Male       180        77     1.80  23.8
3  Female       166        62     1.66  22.5
4  Female       150        70     1.50  31.1
5  Female       167        82     1.67  29.4

In [16]:
#add BMI category with range 'Underweight', 'Normal Weight', 'Overweight','Moderately Obese', 'Severely Obese', 'Very Severely Obese'
df['BMI Category'] = pd.cut(df['BMI'], bins=[0, 18.4, 24.9, 29.9, 34.9, 39.9, 100], labels=['Underweight', 'Normal Weight', 'Overweight','Moderately Obese', 'Severely Obese', 'Very Severely Obese'])

In [17]:
# Check if data frame is updated
df

   Gender  HeightCM  WeightKG  HeightM   BMI      BMI Category
0    Male       171        96     1.71  32.8  Moderately Obese
1    Male       161        85     1.61  32.8  Moderately Obese
2    Male       180        77     1.80  23.8     Normal Weight
3  Female       166        62     1.66  22.5     Normal Weight
4  Female       150        70     1.50  31.1  Moderately Obese
5  Female       167        82     1.67  29.4        Overweight

In [18]:
#add Health Risk category with range 'Malnutrition Risk', 'Low Risk', 'Enhanced Risk', 'Medium Risk', 'High Risk', 'Very High Risk'
df['Health Risk'] = pd.cut(df['BMI'], bins=[0, 18.4, 24.9, 29.9, 34.9, 39.9, 100], labels=['Malnutrition Risk', 'Low Risk', 'Enhanced Risk', 'Medium Risk', 'High Risk', 'Very High Risk'])

In [19]:
# Check if data frame is updated
df

   Gender  HeightCM  WeightKG  HeightM   BMI      BMI Category    Health Risk
0    Male       171        96     1.71  32.8  Moderately Obese    Medium Risk
1    Male       161        85     1.61  32.8  Moderately Obese    Medium Risk
2    Male       180        77     1.80  23.8     Normal Weight       Low Risk
3  Female       166        62     1.66  22.5     Normal Weight       Low Risk
4  Female       150        70     1.50  31.1  Moderately Obese    Medium Risk
5  Female       167        82     1.67  29.4        Overweight  Enhanced Risk

In [20]:
#add new row to data frame with new data to test functionality
#first lets check someone that has a BMI of less than 18.4
df2 = {'Gender':'Female', 'HeightCM':200, 'WeightKG':40}

In [21]:
#append df2 to df
df = df.append(df2, ignore_index=True)

In [22]:
df

   Gender  HeightCM  WeightKG  HeightM   BMI      BMI Category    Health Risk
0    Male       171        96     1.71  32.8  Moderately Obese    Medium Risk
1    Male       161        85     1.61  32.8  Moderately Obese    Medium Risk
2    Male       180        77     1.80  23.8     Normal Weight       Low Risk
3  Female       166        62     1.66  22.5     Normal Weight       Low Risk
4  Female       150        70     1.50  31.1  Moderately Obese    Medium Risk
5  Female       167        82     1.67  29.4        Overweight  Enhanced Risk
6  Female       200        40      NaN   NaN               NaN            NaN

In [23]:
#change centimeters to meters in order to calculate BMI
df['HeightM'] = df['HeightCM']/100

In [24]:
df

   Gender  HeightCM  WeightKG  HeightM   BMI      BMI Category    Health Risk
0    Male       171        96     1.71  32.8  Moderately Obese    Medium Risk
1    Male       161        85     1.61  32.8  Moderately Obese    Medium Risk
2    Male       180        77     1.80  23.8     Normal Weight       Low Risk
3  Female       166        62     1.66  22.5     Normal Weight       Low Risk
4  Female       150        70     1.50  31.1  Moderately Obese    Medium Risk
5  Female       167        82     1.67  29.4        Overweight  Enhanced Risk
6  Female       200        40     2.00   NaN               NaN            NaN

In [25]:
#create height squared variable to calculate BMI
heightsq = df[('HeightM')]**2

In [35]:
BMI = df['WeightKG']/heightsq

In [36]:
BMI = BMI.round(1)

In [37]:
BMI

0    32.8
1    32.8
2    23.8
3    22.5
4    31.1
5    29.4
6    10.0
dtype: float64

In [52]:
#create for loop to calculate BMI for all rows
for i in range(len(df)):
    df['BMI'] = df['WeightKG']/heightsq

In [54]:
df

   Gender  HeightCM  WeightKG  HeightM   BMI      BMI Category    Health Risk
0    Male       171        96     1.71  32.8  Moderately Obese    Medium Risk
1    Male       161        85     1.61  32.8  Moderately Obese    Medium Risk
2    Male       180        77     1.80  23.8     Normal Weight       Low Risk
3  Female       166        62     1.66  22.5     Normal Weight       Low Risk
4  Female       150        70     1.50  31.1  Moderately Obese    Medium Risk
5  Female       167        82     1.67  29.4        Overweight  Enhanced Risk
6  Female       200        40     2.00  10.0               NaN            NaN

In [55]:
#create for loop to calculate BMI category for all rows
for i in range(len(df)):
    df['BMI Category'] = pd.cut(df['BMI'], bins=[0, 18.4, 24.9, 29.9, 34.9, 39.9, 100], labels=['Underweight', 'Normal Weight', 'Overweight','Moderately Obese', 'Severely Obese', 'Very Severely Obese'])

In [56]:
df

   Gender  HeightCM  WeightKG  HeightM   BMI      BMI Category    Health Risk
0    Male       171        96     1.71  32.8  Moderately Obese    Medium Risk
1    Male       161        85     1.61  32.8  Moderately Obese    Medium Risk
2    Male       180        77     1.80  23.8     Normal Weight       Low Risk
3  Female       166        62     1.66  22.5     Normal Weight       Low Risk
4  Female       150        70     1.50  31.1  Moderately Obese    Medium Risk
5  Female       167        82     1.67  29.4        Overweight  Enhanced Risk
6  Female       200        40     2.00  10.0       Underweight            NaN

In [57]:
#create for loop to calculate Health Risk category for all rows
for i in range(len(df)):
    df['Health Risk'] = pd.cut(df['BMI'], bins=[0, 18.4, 24.9, 29.9, 34.9, 39.9, 100], labels=['Malnutrition Risk', 'Low Risk', 'Enhanced Risk', 'Medium Risk', 'High Risk', 'Very High Risk'])

In [58]:
df

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk
0,Male,171,96,1.71,32.8,Moderately Obese,Medium Risk
1,Male,161,85,1.61,32.8,Moderately Obese,Medium Risk
2,Male,180,77,1.80,23.8,Normal Weight,Low Risk
3,Female,166,62,1.66,22.5,Normal Weight,Low Risk
4,Female,150,70,1.50,31.1,Moderately Obese,Medium Risk
5,Female,167,82,1.67,29.4,Overweight,Enhanced Risk
6,Female,200,40,2.00,10.0,Underweight,Malnutrition Risk

In [59]:
#add another new row to data frame with new data to test functionality
#now lets check for someone with a BMI of over 40
df3 = {'Gender':'Male', 'HeightCM':150, 'WeightKG':100}

In [60]:
#append df3 to df
df = df.append(df3, ignore_index=True)

In [61]:
df

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk
0,Male,171,96,1.71,32.8,Moderately Obese,Medium Risk
1,Male,161,85,1.61,32.8,Moderately Obese,Medium Risk
2,Male,180,77,1.80,23.8,Normal Weight,Low Risk
3,Female,166,62,1.66,22.5,Normal Weight,Low Risk
4,Female,150,70,1.50,31.1,Moderately Obese,Medium Risk
5,Female,167,82,1.67,29.4,Overweight,Enhanced Risk
6,Female,200,40,2.00,10.0,Underweight,Malnutrition Risk
7,Male,150,100,NaN,NaN,NaN,NaN

In [62]:
#change centimeters to meters in order to calculate BMI
df['HeightM'] = df['HeightCM']/100

In [63]:
heightsq = df[('HeightM')]**2

In [64]:
BMI = df['WeightKG']/heightsq

In [67]:
BMI

0    32.830615
1    32.791945
2    23.765432
3    22.499637
4    31.111111
5    29.402273
6    10.000000
7    44.444444
dtype: float64

In [68]:
#test for loop to calculate BMI for all rows
for i in range(len(df)):
    df['BMI'] = df['WeightKG']/heightsq

In [69]:
df

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk
0,Male,171,96,1.71,32.830615,Moderately Obese,Medium Risk
1,Male,161,85,1.61,32.791945,Moderately Obese,Medium Risk
2,Male,180,77,1.80,23.765432,Normal Weight,Low Risk
3,Female,166,62,1.66,22.499637,Normal Weight,Low Risk
4,Female,150,70,1.50,31.111111,Moderately Obese,Medium Risk
5,Female,167,82,1.67,29.402273,Overweight,Enhanced Risk
6,Female,200,40,2.00,10.000000,Underweight,Malnutrition Risk
7,Male,150,100,1.50,44.444444,NaN,NaN

In [71]:
df

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk
0,Male,171,96,1.71,32.8,Moderately Obese,Medium Risk
1,Male,161,85,1.61,32.8,Moderately Obese,Medium Risk
2,Male,180,77,1.80,23.8,Normal Weight,Low Risk
3,Female,166,62,1.66,22.5,Normal Weight,Low Risk
4,Female,150,70,1.50,31.1,Moderately Obese,Medium Risk
5,Female,167,82,1.67,29.4,Overweight,Enhanced Risk
6,Female,200,40,2.00,10.0,Underweight,Malnutrition Risk
7,Male,150,100,1.50,44.4,NaN,NaN

In [72]:
#test for loop to calculate BMI category for all rows
for i in range(len(df)):
    df['BMI Category'] = pd.cut(df['BMI'], bins=[0, 18.4, 24.9, 29.9, 34.9, 39.9, 100], labels=['Underweight', 'Normal Weight', 'Overweight','Moderately Obese', 'Severely Obese', 'Very Severely Obese'])

In [73]:
df

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk
0,Male,171,96,1.71,32.8,Moderately Obese,Medium Risk
1,Male,161,85,1.61,32.8,Moderately Obese,Medium Risk
2,Male,180,77,1.80,23.8,Normal Weight,Low Risk
3,Female,166,62,1.66,22.5,Normal Weight,Low Risk
4,Female,150,70,1.50,31.1,Moderately Obese,Medium Risk
5,Female,167,82,1.67,29.4,Overweight,Enhanced Risk
6,Female,200,40,2.00,10.0,Underweight,Malnutrition Risk
7,Male,150,100,1.50,44.4,Very Severely Obese,NaN

In [74]:
#test for loop to calculate Health Risk category for all rows
for i in range(len(df)):
    df['Health Risk'] = pd.cut(df['BMI'], bins=[0, 18.4, 24.9, 29.9, 34.9, 39.9, 100], labels=['Malnutrition Risk', 'Low Risk', 'Enhanced Risk', 'Medium Risk', 'High Risk', 'Very High Risk'])

In [75]:
df

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk
0,Male,171,96,1.71,32.8,Moderately Obese,Medium Risk
1,Male,161,85,1.61,32.8,Moderately Obese,Medium Risk
2,Male,180,77,1.80,23.8,Normal Weight,Low Risk
3,Female,166,62,1.66,22.5,Normal Weight,Low Risk
4,Female,150,70,1.50,31.1,Moderately Obese,Medium Risk
5,Female,167,82,1.67,29.4,Overweight,Enhanced Risk
6,Female,200,40,2.00,10.0,Underweight,Malnutrition Risk
7,Male,150,100,1.50,44.4,Very Severely Obese,Very High Risk

In [81]:
#create function to calculate BMI, BMI Category, and Health Risk
def BMI_Calc(df):
    df['HeightM'] = df['HeightCM']/100
    df['HeightSquared'] = df['HeightM']**2
    df['BMI'] = (df['WeightKG']/df['HeightSquared']).round(1)
    df['BMI Category'] = pd.cut(df['BMI'], bins=[0, 18.4, 24.9, 29.9, 34.9, 39.9, 100], labels=['Underweight', 'Normal Weight', 'Overweight','Moderately Obese', 'Severely Obese', 'Very Severely Obese'])
    df['Health Risk'] = pd.cut(df['BMI'], bins=[0, 18.4, 24.9, 29.9, 34.9, 39.9, 100], labels=['Malnutrition Risk', 'Low Risk', 'Enhanced Risk', 'Medium Risk', 'High Risk', 'Very High Risk'])
    return df

In [82]:
BMI_Calc(df)

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk,HeightSquared
0,Male,171,96,1.71,32.8,Moderately Obese,Medium Risk,2.9241
1,Male,161,85,1.61,32.8,Moderately Obese,Medium Risk,2.5921
2,Male,180,77,1.80,23.8,Normal Weight,Low Risk,3.2400
3,Female,166,62,1.66,22.5,Normal Weight,Low Risk,2.7556
4,Female,150,70,1.50,31.1,Moderately Obese,Medium Risk,2.2500
5,Female,167,82,1.67,29.4,Overweight,Enhanced Risk,2.7889
6,Female,200,40,2.00,10.0,Underweight,Malnutrition Risk,4.0000
7,Male,150,100,1.50,44.4,Very Severely Obese,Very High Risk,2.2500

In [83]:
#test function with new data
df4 = {'Gender':'Female', 'HeightCM':170, 'WeightKG':70}

In [84]:
df.append(df4, ignore_index=True)

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk,HeightSquared
0,Male,171,96,1.71,32.8,Moderately Obese,Medium Risk,2.9241
1,Male,161,85,1.61,32.8,Moderately Obese,Medium Risk,2.5921
2,Male,180,77,1.80,23.8,Normal Weight,Low Risk,3.2400
3,Female,166,62,1.66,22.5,Normal Weight,Low Risk,2.7556
4,Female,150,70,1.50,31.1,Moderately Obese,Medium Risk,2.2500
5,Female,167,82,1.67,29.4,Overweight,Enhanced Risk,2.7889
6,Female,200,40,2.00,10.0,Underweight,Malnutrition Risk,4.0000
7,Male,150,100,1.50,44.4,Very Severely Obese,Very High Risk,2.2500
8,Female,170,70,NaN,NaN,NaN,NaN,NaN

In [179]:
#update data frame
df=df.append(df4, ignore_index=True)

In [86]:
BMI_Calc(df)

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk,HeightSquared
0,Male,171,96,1.71,32.8,Moderately Obese,Medium Risk,2.9241
1,Male,161,85,1.61,32.8,Moderately Obese,Medium Risk,2.5921
2,Male,180,77,1.80,23.8,Normal Weight,Low Risk,3.2400
3,Female,166,62,1.66,22.5,Normal Weight,Low Risk,2.7556
4,Female,150,70,1.50,31.1,Moderately Obese,Medium Risk,2.2500
5,Female,167,82,1.67,29.4,Overweight,Enhanced Risk,2.7889
6,Female,200,40,2.00,10.0,Underweight,Malnutrition Risk,4.0000
7,Male,150,100,1.50,44.4,Very Severely Obese,Very High Risk,2.2500

In [87]:
# BMI_Calc function will return the BMI rounded to one decimal point
# as well as BMI Category and Health Risk
df

,Gender,HeightCM,WeightKG,HeightM,BMI,BMI Category,Health Risk,HeightSquared
0,Male,171,96,1.71,32.8,Moderately Obese,Medium Risk,2.9241
1,Male,161,85,1.61,32.8,Moderately Obese,Medium Risk,2.5921
2,Male,180,77,1.80,23.8,Normal Weight,Low Risk,3.2400
3,Female,166,62,1.66,22.5,Normal Weight,Low Risk,2.7556
4,Female,150,70,1.50,31.1,Moderately Obese,Medium Risk,2.2500
5,Female,167,82,1.67,29.4,Overweight,Enhanced Risk,2.7889
6,Female,200,40,2.00,10.0,Underweight,Malnutrition Risk,4.0000
7,Male,150,100,1.50,44.4,Very Severely Obese,Very High Risk,2.2500